<div class="p-4">
  <h1 style="text-align: center">Publisher's Link File Upload</h1>

  <div style="text-align: center" class="publisher">
    <form
      [formGroup]="uploadForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <input
          type="text"
          placeholder="FileName"
          formControlName="fileName"
          class="form-control"
        />
        <p class="text-danger" [hidden]="showError('fileName')">
          *fileName is required.
        </p>
      </div>
      <div class="form-group">
        <input
          type="text"
          placeholder="AuthorName"
          formControlName="authorName"
          class="form-control"
        />
        <p class="text-danger" [hidden]="showError('authorName')">
          *authorName is required.
        </p>
      </div>
      <div class="form-group">
        <input
          type="text"
          placeholder="Description"
          class="form-control"
          formControlName="description"
        />
        <p class="text-danger" [hidden]="showError('description')">
          *description is required.
        </p>
      </div>
      <div class="form-group">
        <input
          type="number"
          placeholder="price"
          formControlName="price"
          class="form-control"
        />
        <p class="text-danger" [hidden]="showError('price')">
          *price is required.
        </p>
      </div>
      <div class="form-group">
        <input
          #singleInput
          type="file"
          formControlName="fileInput"
          (change)="selectImage($event)"
        />
        <p class="text-danger" [hidden]="showError('fileInput')">
          *File is required.
        </p>
        <p
          class="text-danger"
          [hidden]="!(uploadForm.get('fileInput')?.errors?.['inValid']&&
      !uploadForm.get('fileInput')?.pristine)"
        >
          {{ this.uploadForm.get('fileInput')?.errors?.['inValid']}}
        </p>
      </div>
      <br />
      <div>
        <button
          [disabled]="uploadForm.invalid"
          type="submit"
          class="btn btn-danger"
        >
          Upload
        </button>
        <div class="progress mt-4" *ngIf="isLoading">
          <div
            class="progress-bar progress-bar-striped bg-danger"
            role="progressbar"
            [style.width.%]="process"
          ></div>
        </div>
      </div>
    </form>
  </div>
</div>
