form {
  div {
    margin-bottom: 1rem;
    p {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.publisher {
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
}
