<h1 style="text-align: center">Publisher's Link File Upload</h1>

<div style="text-align: center" class="publisher">
  <form
    [formGroup]="uploadForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <input
        type="text"
        placeholder="FileName"
        formControlName="fileName"
        class="form-control"
      />
      <p
        class="text-danger"
        [hidden]="
          !(
            uploadForm.get('fileName')?.errors?.['required']  &&
            !uploadForm.get('fileName')?.pristine
          )
        "
      >
        *fileName is required.
      </p>
    </div>
    <div class="form-group">
      <input
        type="text"
        placeholder="AuthorName"
        formControlName="authorName"
        class="form-control"
      />
      <p
        class="text-danger"
        [hidden]="
          !(
            uploadForm.get('authorName')?.errors?.['required']  &&
            !uploadForm.get('authorName')?.pristine
          )
        "
      >
        *authorName is required.
      </p>
    </div>
    <div class="form-group">
      <input
        type="text"
        placeholder="Description"
        class="form-control"
        formControlName="description"
      />
      <p
        class="text-danger"
        [hidden]="
          !(
            uploadForm.get('description')?.errors?.['required']  &&
            !uploadForm.get('description')?.pristine
          )
        "
      >
        *description is required.
      </p>
    </div>
    <div class="form-group">
      <input
        type="number"
        placeholder="price"
        formControlName="price"
        class="form-control"
      />
      <p
        class="text-danger"
        [hidden]="
          !(
            uploadForm.get('price')?.errors?.['required'] &&
            !uploadForm.get('price')?.pristine
          )
        "
      >
        *price is required.
      </p>
    </div>
    <div class="form-group">
      <input
        #singleInput
        type="file"
        formControlName="fileInput"
        (change)="selectImage($event)"
      />
      <p
        class="text-danger"
        [hidden]="
          !(
            uploadForm.get('fileInput')?.errors?.['required'] &&
            !uploadForm.get('fileInput')?.pristine
          )
        "
      >
        *File is required.
      </p>
      <p
        class="text-danger"
        [hidden]="!(uploadForm.get('fileInput')?.errors?.['inValid']&&
      !uploadForm.get('fileInput')?.pristine)"
      >
        {{ this.uploadForm.get('fileInput')?.errors?.['inValid']}}
      </p>
    </div>
    <br />
    <div>
      <button
        [disabled]="uploadForm.invalid"
        type="submit"
        class="btn btn-danger"
      >
        Upload
      </button>
      <!-- <div>{{ uploadPercent | async }}</div>
      <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
    </div>

    <ng-template
      [ngIf]="displaySingleImage"
      [ngIfElse]="elseSingleImageTemplate"
    >
      <div>Images Uploaded</div>
      <ul>
        <li *ngFor="let image of displaySingleImageArray">
          <img src="http://localhost:3000/{{ image }}" />
        </li>
      </ul>
    </ng-template>

    <ng-template #elseSingleImageTemplate>
      <br /><br />
      <div>Please Upload Some Images</div>
    </ng-template>
  </form>
</div>
